@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
   box-sizing: border-box;
   outline: none; 
   border:none;
   margin:0; 
   padding:0;
}
html, body {
   width: auto!important; 
   overflow-x: hidden!important;
   font-family: Arial, Helvetica, sans-serif;
   font-family: 'Roboto', sans-serif;
   background: linear-gradient(120deg,#ffffff,#e4c3c3);
   width: 100%;
   height: 100%;
} 

main{
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
   min-height: 100%;
}

body{
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 margin: 0;
 /*line-height: 100%;*/
}

.header{
   padding: 15px;
}

.container{
   
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}



.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

}
.btn{
   background: rgb(220, 188, 188);
   color:rgb(18, 17, 17);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}
.btn:hover{
   background: rgb(106, 0, 0);
   color:#fff;
}
.container .content .btn{
   display: inline-block;
   padding:10px;
   font-size: 20px;
   background: rgb(106, 0, 0);
   color:#fff;
   cursor: pointer;
   text-transform: capitalize;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}


.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: rgb(238, 217, 217);
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: rgb(121, 2, 26);
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}
